[Unit]
Description=Create AP Service
After=network.target
 
[Service]
Type=simple
ExecStart=/usr/bin/create_ap wlp2s0 enp1s0 MYWIFI MYSUPERPASS
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
 
[Install]
WantedBy=multi-user.target
